    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    :root {
        --celeste: #7dd3fc;
        /* light cyan */
        --azul: #0b59b5;
        /* deep blue */
        --blanco: #ffffff;
        --gris-100: #f3f4f6;
        --texto: #0f172a;
        --color-primario: #010147;
        --color-secundario: #0edaea;
        --color-tercero: #ff8c42;
        --card-shadow: 0 6px 18px rgba(11, 89, 181, 0.08);
    }

    
    ::-webkit-scrollbar{
        width: 15px;
        background-color: var(--color-primario);
      
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--color-secundario);
        border-radius: 1rem;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-tercero);
    }

    .inter-title {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
    }

    @keyframes float {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-8px);
        }

        100% {
            transform: translateY(0);
        }
    }

    * {
        box-sizing: border-box
    }

    body {
        height: 100%;
        margin: 0;
        background-image: url(/img/stars.png);

    }

    .container {
        max-width: 1100px;
        margin: 0 auto;
        padding: 24px
    }

    /* Responsive */
    @media (max-width:900px) {
        .hero {
            grid-template-columns: 1fr;
            gap: 18px
        }

        .testimonials {
            grid-template-columns: 1fr
        }

    }

    label {
        font-weight: 600;
        font-size: 18px
    }

    .nav {
        box-shadow: 0 4px 10px 0 var(--color-secundario);
        position: relative;
        z-index: 10;
        background-size: cover;
        width: 100%;
    }

    .a-nav {
        color: var(--color-primario) !important;
        font-size: 20px;
        font-weight: bolder;
    }

    .a-nav:hover {
        color: var(--color-secundario) !important;
        transform: scale(1.07);
        font-weight: bolder;
    }

    .seccion-inicio {
        background-image: url(/img/fondo3.jpg);
        background-size: cover;
        width: 100%;
    }

    .name-presentation2 {
        color: white;
        padding-top: 15px;
    }

    .a-floating {
        box-shadow: 0 4px 8px var(--color-secundario);
        animation: flotando 2s infinite ease-in-out;
        
    }

    .a-floating:hover {
        transform: scale(1.05);
    }

    .a-floating2 {
        animation: flotando 2s infinite ease-in-out;
    }

    @keyframes flotando {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-3px);
        }
    }

    .landing-section {
        background-image: url(/img/stars.png);
        width: 100%;
    }

    .seminarios {
        background-image: url(/img/fondo\ \(2\).jpg);
        background-size: cover;
        width: 100%;
    }

    .card-itm {
        border: 2px solid var(--color-secundario); 
    }

    .card-itm:hover {
        transform: scale(1.05);
    }   

    .card-title {
        border-radius: 20px;
        border: 2px solid var(--color-secundario);
        font-size: 50px;
        background-color:#010147;
        color:#ffffff;
    }

    .servicios-section:hover {
        transform: scale(1.05);
    }

    .div-otros-serv {
       background-image: url(/img/fondo-servicios.jpg);
       background-size: cover;
    }

